
<div class="col-md-12">
      <div class="col-md-8">
      <h1>I'm interested in the ways that tech can inspire new generations</h1>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-3 col-sm-5 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <p>I'm a scientist; I'm a developer; I'm a <span class="emphasis">visionary</span>. I envision a world where kids aren't afraid of learning <span class='emphasis'>difficult</span> subjects, where the people celebrate and encourage <span class="emphasis">research</span> because they are <span class="emphasis">educated</span>.</p>
    </div>
    <div class="col-md-4 down">
      <img id="brand" src='/assets/brand_2.svg'>
    </div>