<div id="images" class="col-md-7 images col-sm-6 col-xs-12">
          <h2>Images coming soon</h2>
        </div>
        <div id="text" class="col-md-5 col-sm-6 col-xs-12">
          <a class="back"><< Back</a><br>
          <h2><span class='emphasis'>Book Reviews // CSS in progress</span></h2>
          <h3>What is it?</h3><p> A simple app that allows user to write and post book reviews. This was my first complete application written with PHP in the LAMP stack.</p>
          <h3>Challenges</h3><p>Learning how to pass information from the database to the view in PHP did not come naturally to me. I was especially proud of the logic I wrote to prevent <span class="emphasis">duplicate</span> authors and book titles from entering the database.</p>
          <h2>Link</h2>
          <h2>Code</h2>
        </div>