        <div id="images" class="col-md-7 images col-sm-6 col-xs-12">
          <img src="/assets/query1.png">
          <img src="/assets/query2.png">
          <img src="/assets/query4.png">
          <img src="/assets/query5.png">
        </div>
        <div id="text" class="col-md-5 col-sm-6 col-xs-12">
          <a class="back"><< Back</a><br>
          <h2><span class='emphasis'>ChemQuery</span></h2>
          <h3>What is it?</h3><p> My first real solo Rails project, ChemQuery was born out of a desire to address and dispel public chemophobia. Scientific information is not always readily available to the public, so the project is really an attempt to open access to information, especially information without which the public cannot make informed decisions. The lack of scientific information available drives public ignorance and fear when it comes to critical issues facing our community and the planet.</p>
          <h3>Challenges</h3><p>The most difficult part of this app was <span class="emphasis">database design</span> and writing the queries to extract the appropriate information. Organizing complex data, like chemicals with categories and subcategories, was not something I was trained to do up until this point. I also set out to create a <span class="emphasis">polymorphic</span> association called "literacies," which allows users to investigate deeper into each item, chemical, or category. This advanced type of association still challenges me to think about user interface design and logical flow through a site.</p>
          <h2>Link</h2>
          <h2>Code</h2>
        </div>