          <a class="back"><< Back</a><br>
<div id="images" class="col-md-12 images col-sm-12 col-xs-12">
          <img src="/assets/lend_1.png">
          <img src="/assets/lend_2.png">
<!--           <img src="/assets/lend_3.png"> -->
          <img src="/assets/lend_4.png">
          <img src="/assets/lend_5.png">
        </div>
        <div id="text" class="col-md-12 col-sm-12 col-xs-12">
          <h2><span class='emphasis'>Online Lending // CSS in progress</span></h2>
          <h3>What is it?</h3><p>This was the product of a timed, 4.5 hour exam. We had to build an online lending app which allowed users to register to be a lender or a borrower, then log in. If the user is a lender, he or she can see a list of all the people who need help raising money for a goal. Conversely, if the user is a borrower, they can see a list of who has contributed money to their goal, and how much money has been raised. </p>
          <h3>Challenges</h3><p>The most challenging part of this app was writing the logic to prevent users from looking at other user profiles. This required a solid knowledge of Rails best practices, <span class="emphasis">user authentication</span> and <span class="emphasis">user authorization</span>. I am proud of the logic I created under the time constraints.</p>
          <h2>Link</h2>
          <h2>Code</h2>
        </div>