
<div class="col-md-12">
  <div class="col-md-8">
 <h1>See the sites</h1>
 </div>
      <div id="works" class="col-md-12">
        
          <div class="col-md-4">
           <img id="chem" src="/assets/chemquery.png"><br>
           ChemQuery / Rails
          </div>

          <div class="col-md-4">
           <img id="lend" src="/assets/lend.jpg"><br>
           OnlineLending / Rails
          </div>

          <div class="col-md-4">
           <img id="book" src="/assets/books.png"><br>
           BookReviews / LAMP
          </div> 
          
</div>