
      <div class="col-md-8 col-md-offset-4">
      <h1>You are what your deep driving desire is</h1>
      </div>
        <div class="col-md-3 col-sm-3 pic"><img id="profile-pic" src="/assets/acd2.png"></div>
            <div class='stats col-md-4 col-sm-4'>
            <ul>
              <li>Name: Abby</li>
              <li>Type: INTJ</li>
              <li>Profession: Developer</li>
              <li>Hometown: Columbus, OH</li>

              <li>Habit that I recently kicked: Diet Coke</li>
              <li>Worst Subject: History</li>
              <li>Secret skill: writing short stories</li>
              <li>Not-so-secret skill: reading ancient Greek</li>
              <li>Favorite place traveled: Prague</li>
            </ul>
            </div>
            <div class="col-md-5 col-sm-5">
              <p>I came across programming by chance. INTJs tend to be scientists, engineers, and artists. My life was a series of switches between seemingly contrasting fields: drawing / chemistry / painting / biology / illustration / calculus. I spent my life feeling as though no career I could choose would be able to offer me everything I needed: logic and creativity, left brain and right brain, science and art, until a chance meeting with a developer friend sparked my interest in the beauty of code... and I've been coding ever since.</p>

            </div>
            <div class="col-md-12">
          </div>