
      <div class="col-md-8 col-md-offset-4">
      <h1>Marrying left and right brains</h1>
      </div>
        <div class="col-md-3 col-sm-3 pic"><img id="profile-pic" src="/assets/acd2.png"></div>
            <div class='stats col-md-4 col-sm-4'>
            <ul>
              <li>Name: Abby</li>
              <li>Type: INTJ</li>
              <li>Profession: Developer</li>
              <li>Hometown: Columbus, OH</li>

              <li>Habit that I recently kicked: Diet Coke</li>
              <li>Worst Subject: History</li>
              <li>Favorite place traveled: Prague</li>
              <li>Favorite book: East of Eden, John Steinbeck</li>
            </ul>
            </div>
            <div class="col-md-5 col-sm-5">
              <p>INTJs tend to be scientists, engineers, and artists. I've always been torn between science and art, believing I had to choose one, that no career would be able to offer me everything I needed: logic and creativity, left brain and right brain stimuli, the ability to marry complex mathematics with beauty... But a chance encounter with a developer friend sparked my interest in the beauty of code and all of its capacities to do just that... and I've been coding ever since.</p>

            </div>
            <div class="col-md-12">
          </div>