<h1>Full experience brought to you by:</h1>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <img class="icon" src="/assets/rails.png">
        <ul>
            <li>Ruby</li>
            <li>Rails</li>
            <li>SQLite</li>
            <li>Postgres</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <img class="icon" src="/assets/lamp.png">
          <ul>
            <li>Linux</li>
            <li>Apache</li>
            <li>MySQL</li>
            <li>PHP</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <img class="icon" src="/assets/mean.jpg">
        <ul>
            <li>MongoDB</li>
            <li>Express</li>
            <li>Angular</li>
            <li>Node</li>
        </ul>
    </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
        <img class="icon" src="/assets/html.jpg">
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
        </ul>
    </div>
    <img class="icon" src="/assets/illustrator.jpeg">
    <img class="icon" src="/assets/photoshop.png">
    <img class="icon" src="/assets/indesign.jpeg">
    <img class="icon" src="/assets/chemdraw.png">
     <img class="icon" src="/assets/matlab.jpeg">